@each $breakpoint in map-keys($breakpoints-all) {
    $infix: breakpoint-infix($breakpoint);

    @include media-breakpoint-all($breakpoint) {
       .flex#{$infix}-column {
           flex-direction: column;
       }

       .flex#{$infix}-row {
           flex-direction: row;
       }

       .flex#{$infix}-column-rev {
           flex-direction: column-reverse;
       }

       .flex#{$infix}-row-rev {
           flex-direction: row-reverse;
       }

       .j-c#{$infix}-center {
           justify-content: center;
       }

       .j-c#{$infix}-around {
           justify-content: space-around;
       }

       .j-c#{$infix}-between {
           justify-content: space-between;
       }

       .j-c#{$infix}-start {
           justify-content: flex-start;
       }

       .j-c#{$infix}-end {
           justify-content: flex-end;
       }

       .j-c#{$infix}-baseline {
           justify-content: baseline;
       }

       .j-c#{$infix}-stretch {
           justify-content: stretch;
       }

       .a-i#{$infix}-center {
           align-items: center;
       }

       .a-i#{$infix}-start {
           align-items: flex-start;
       }

       .a-i#{$infix}-end {
           align-items: flex-end;
       }

       .a-i#{$infix}-baseline {
           align-items: baseline;
       }

       .a-i#{$infix}-stretch {
           align-items: stretch;
       }

       .flex#{$infix}-wrap {
           flex-wrap: wrap;
       }

       .flex#{$infix}-nowrap {
           flex-wrap: nowrap;
       }

       .flex#{$infix}-wrap-rev {
           flex-wrap: wrap-reverse;
       }
    }
}
